In [1]:
def my_reduce(function, series):
    
    output = series[0]
    for i in series[1:]:
        output = function(output,i)
        
    return output
    
def sum(a,b):
    return a+b
list = [1,3,5,7]
my_reduce(sum, list)

16

In [2]:
def my_filter(function, series):
    
    output = []
    for i in series:
        if function(i):
            output.append(i)
    return output

def remainder(x):
    if (x%2 == 0):
        return True
    else:
        return False
    
list = [34,46,87,41]
my_filter(remainder,list)

[34, 46]

In [3]:
list = ['x','y','z']
output = [i*num for i in list for num in range(1,5)]
output

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [4]:
list = ['x','y','z']
output = [i*num for num in range(1,5) for i in list]
output

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [5]:
list = [2,3,4]
output = [[i+num] for i in list for num in range(0,3)]
output

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [6]:
list = [2,3,4,5]
output = [[i+num for i in list] for num in range(0,4)]
output

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [8]:
list=[1,2,3]
output = [(y,x) for x in list for y in list]
output

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]